@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .vi-primary-button {
        padding: 8px 18px;
        background-color: #005FAF;
        font-size: 14px;
        color: #FFFFFF;
        font-weight: 600;
        width: 100%;
        transition: all 0.2s ease-in-out;
    }
    .vi-primary-button:hover {
        opacity: 0.9;
    }
    .vi-search-wrap {
        text-align: center;
    }
    .vi-search-wrap .vi-search-bar-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 537px;
        margin: 24px auto 0;
    }
    .vi-search-wrap .vi-search-bar-wrapper .search {
        position: absolute;
        left: 9px;
        top: 6px;
    }
    .vi-search-wrap .vi-search-bar-wrapper .vi-search-btn {
        max-width: 110px;
        border: 0;
        padding: 10px 18px;
        border-radius: 0 4px 4px 0;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    }
    .vi-search-wrap .vi-search-bar-wrapper .vi-search-btn:hover {
        opacity: 0.9;
    }
    .vi-search-wrap .vi-search-bar {
        width: 100%;
        padding: 8px 40px 8px;
        font-size: 16px;
        border: 1px solid #8F93A3;
        border-radius: 4px 0 0 4px;
        transition: all 0.2s ease-in-out;
        border-right: none;
    }
    .vi-search-wrap .vi-search-bar:hover {
        border-color: #1d1e1e;
    }
    .vi-grid-wide {
        width: 100%;
        margin: 0 auto;
    }
    .vi-grid-compact {
        max-width: 1084px;
        padding: 0 30px;
        width: 100%;
        margin: 0 auto;
    }
    .swiper-nav-button {
        background-color: #04040499;
        backdrop-filter: blur(9px);
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        height: 48px !important;
        width: 48px !important;
        padding: 11px;
        top: 40% !important;
    }
    .swiper-nav-button:hover {
        opacity: 0.9;
    }
    .swiper-button-next::after, .swiper-button-prev::after {
        content: "";
        display: none;
    }
    .vi-announcement-wrap {
        width: 258px;
        padding: 16px;
        border: 1px solid #E9E9E9;
        border-radius: 4px;
    }
    .vi-sidebar-title {
        font-size: 20px;
        font-weight: 700;
        color: #040404;
        line-height: 28px;
        margin-top: 0;
    }
    .vi-announcement-card {
        border-top: 1px solid #8F93A3;
        padding-top: 12px;
        margin-top: 12px;
    }
    .vi-announcement-title {
        font-size: 14px;
        font-weight: 700;
        color: #8F93A3;
        line-height: 20px;
        margin-top: 0;
    }
    .vi-highlights-sidebar .vi-announcement-card ul {
        margin: 0;
        padding-left: 0;
    }
    .vi-highlights-sidebar .vi-announcement-card ul li {
        list-style: none;
        font-size: 14px;
        font-weight: 400;
        color: #040404;
        line-height: 20px;
        margin: 12px 0;
    }
    .vi-highlights-sidebar .vi-announcement-card ul li a:hover{
        text-decoration: underline;
    }
    .vi-title-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
    }
    .vi-title {
        font-size: 20px;
        font-weight: 700;
        color: #040404;
        margin-top: 0;
        line-height: 28px;
    }
    .vi-view-all {
        font-size: 16px;
        font-weight: 400;
        color: #005FAF;
        line-height: 24px;
    }
    .vi-pdf-card {
        border: 1px solid #E9E9E9;
        padding: 12px 16px;
        margin-bottom: 16px;
        border-radius: 4px;
    }
    .vi-card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }
    .vi-category {
        font-size: 14px;
        font-weight: 400;
        color: #8F93A3;
        line-height: 20px;
        border-bottom: 1px solid #8F93A3;
    }
    .vi-card-body-text {
        font-size: 14px;
        font-weight: 400;
        color: #040404;
        line-height: 20px;
        margin-top: 10px;
        min-height: 40px;
    }
    .vi-card-footer {
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #8F93A3;
    }
    .vi-downloads-links {
        font-size: 14px;
        font-weight: 400;
        color: #8F93A3;
        line-height: 20px;
        transition: all 0.2s ease-in-out;
    }
    .vi-divider {
        display: inline-block;
        width: 1px;
        height: 24px;
        background-color: #8F93A3;
    }
    .vi-quiz-wrap {
        padding: 34px 28px;
        border-radius: 4px;
        background: linear-gradient(156deg, #FDF0D5 11%, #F8D169 82.91%);
        position: relative;
    }
    .vi-quiz-label {
        font-size: 16px;
        font-weight: 700;
        color: #040404;
        line-height: 24px;
        margin-top: 0;
        max-width: 183px;
    }
    .vi-quiz-btn {
        font-size: 14px;
        font-weight: 600;
        color: #040404;
        line-height: 24px;
        background-color: #ffffff;
        padding: 8px 14px;
        border-radius: 4px;
        margin-top: 14px;
        display: inline-block;
    }
    .vi-quiz-background {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .vi-score-card {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 6px 16px;
        background-color: #F4F4F6;
        border-radius: 4px;
        cursor: pointer;
    }
    .vi-index {
        font-size: 16px;
        font-weight: 400;
        color: #8F93A3;
        line-height: 24px;
    }
    .vi-user-img {
        width: 36px;
        height: 36px;
    }
    .vi-user-name {
        flex: 1 0 0;
        font-size: 16px;
        font-weight: 400;
        color: #040404;
        line-height: 24px;
    }
    .vi-user-score {
        font-size: 16px;
        font-weight: 400;
        color: #040404;
        line-height: 24px;
    }
    .vi-cal-card {
        border: 1px solid #E9E9E9;
        border-radius: 4px;
        padding: 8px 16px;
        max-width: max-content;
    }
    .vi-cal-month {
        font-size: 14px;
        font-weight: 700;
    }
    .vi-calender-grid {
        display: grid;
        grid-template-columns: repeat(7, 32px);
        gap: 6px;
        font-size: 12px;
        max-width: max-content;
        margin-top: 10px;
    }
    .vi-calender-grid a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        font-size: 16px;
        color: #040404;
        text-align: center;
        padding: 2px 0;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: all 0.2s ease-in-out;
    }
    .vi-calender-grid a:hover {
        border-color: #8F93A3;
    }
    .vi-calender-grid a::after {
        content: '';
        width: 12px;
        height: 4px;
    }
    .vi-calender-grid a[data-status="lvl-0"]::after {
        background-color: #FFE58E;
    }
    .vi-calender-grid a[data-status="lvl-1"]::after {
        background-color: #8F93A3;
    }
    .vi-calender-grid a[data-status="lvl-2"]::after {
        background-color: #55C786;
    }
    .monthly-focus-single-card {
        border: 1px solid #E9E9E9;
        border-radius: 4px;
        padding: 12px 16px;
    }

    .vi-progress-bar-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .vi-progress-bar-round {
        width: 32px;
        height: 32px;
        font-size: 14px;
        display: inline-flex;
        min-width: 24px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-weight: 600;
        background: radial-gradient(closest-side, #f9f9f9 80%, transparent 90% 100%), conic-gradient(#EFC73A 72%, #f9f9f9 0);
    }
    .vi-progress-bar-round:before {
        content: attr(data-progress);
        color: #8F93A3;
    }
    .monthly-focus-progress-list {
        margin-top: 18px;
        display: grid;
        grid-gap: 18px;
    }
    .monthly-focus-progress-bar {
        cursor: pointer;
    }
    .progress-bar {
        padding: 0;
        width: 100%;
        height: 4px;
        overflow: hidden;
        border-radius: 6px;
        margin-top: 10px;
    }
    .progress-bar .bar {
        position: relative;
        float: left;
        min-width: 1%;
        height: 100%;
    }
    .weekly-focus-single-card {
        border: 1px solid #E9E9E9;
        border-radius: 4px;
        padding: 12px 16px;
        margin-bottom: 24px;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
    }
    .weekly-focus-single-card span {
        color: #8F93A3;
    }
    .weekly-focus-month-name {
        font-size: 14px;
        font-weight: 700;
        color: #000000;
    }
    .weekly-focus-progress-list {
        display: grid;
        grid-gap: 26px;
        margin-top: 10px;
    }
    .weekly-focus-progress-single-bar {
        cursor: pointer;
    }
    .vi-download-card {
        padding: 8px 16px;
        border: 1px solid #E9E9E9;
        border-radius: 4px;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        margin-bottom: 12px;
        cursor: pointer;
    }
    .vi-download-card p {
        font-size: 14px;
        color: #040404;
        margin: 0;
    }
    .card-listing {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5px 24px;
    }
}

.printable-area {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    //line-height: 1.5rem; /* 150% */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    //gap: 2rem;
    align-self: stretch;
}
.printable-area h1 {
    font-size: 4.5rem;
    line-height: 5.625rem; /* 125% */
}
.printable-area h2 {
    font-size: 3.5rem;
    line-height: 3.75rem; /* 107.143% */
}
.printable-area h3 {
    font-size: 2.5rem;
    line-height: 3rem; /* 120% */
}
.printable-area h4 {
    font-size: 2rem;
    line-height: 2.5rem; /* 125% */
}
.printable-area ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
}
.printable-area ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

.printable-area ul ul {
    list-style: circle;
    padding-left: 1.5rem;
}

//.printable-area th, td {
//    border: 1px solid;
//}

//.printable-area table {
//    border-spacing: 0;
//    border-collapse: separate;
//    border-radius: 5px;
//    border: 1px solid black;
//}
//
//.printable-area table tr {
//    will-change: color;
//}
//
//.printable-area table td, table th {
//    padding: 5px;
//}

//.printable-area table th {
//    min-width: 100px;
//    background: #005faf;
//    color: white;
//    border: black;
//}

//.printable-area table td {
//    background: inherit;
//}
//
//.printable-area table tr td{
//    transition: all 1s;
//}
//
//.printable-area table:has(:hover) tr td{
//    filter: blur(1px);
//    color:gray;
//}

//.printable-area table tr:hover td{
//    background: white;
//    filter: blur(0px);
//    color:black;
//}

[x-cloak] { display: none !important; }


/* comments section */

.vi-comment-content .create-comment{
    display: flex;
    margin: 20px 0 16px;
  }

  .vi-comment-content .create-comment.create-comment-first{
    margin-bottom: 55px;
  }

  .vi-comment-content .create-comment .comment-text{
    margin-left: 12px;
    width: 100%;
  }

  .vi-comment-content .create-comment .comment-text textarea{
    width: 100%;
    resize: none;
    border-radius: 5px;
    border: 1px solid #D4D4D4;
    padding: 10px 12px;
    margin-bottom: 24px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .vi-comment-content .create-comment .comment-text button{
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 20px;
    border-radius: 4px;
    border: 1px solid #005FAF;
    background: #005FAF;
    padding: 8px 20px;
  }

  .vi-comment-content .create-comment .comment-text.submitted-comment h4{
    margin: 0;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 110%;
  }

  .vi-comment-content .create-comment .comment-text.submitted-comment em{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #8F93A3;
    font-style: italic;
  }

  .vi-comment-content .create-comment .comment-text.submitted-comment p{
    margin: 8px 0 0 0;
    font-size: 16px;
    color: #8F93A3;
  }

  .vi-comment-content .create-comment.submitted-secondlabel{
    padding: 0 0 0 24px;
    border-left: 1px solid #8F93A3;
  }

  .vi-comment-content .sources-link{
    margin: 24px 0 0 0;
  }

  .vi-comment-content .sources-link a{
    color: #8F93A3;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 20px;
    display: block;
    margin: 0 0 12px;
  }

  /* add note */

  .vi-modal-inner {
    max-width: 567px;
    width: 100%;
    border-radius: 4px;
    max-height: 90vh;
    overflow-y: scroll;
  }
   .vi-modal-inner::-webkit-scrollbar {
    display: none;
  }
   .vi-modal-inner .vi-modal-header {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding-bottom: 20px;
    border-bottom: 1px solid #8F93A3;
  }
   .vi-modal-inner .vi-modal-header .vi-modal-title {
    font-size: 16px;
    font-weight: 700;
    color: #040404;
    margin-top: 0;
  }
   .vi-modal-inner .vi-modal-header .vi-icons {
    display: inline-block;
    cursor: pointer;
  }

   .vi-modal-inner .vi-modal-content .edit-text,
   .vi-modal-inner .vi-modal-content .tag-wrap{
    display: flex;
    justify-content: space-between;
  }
  .edit-text blockquote{
    margin-right: 10px;
  }
  .edit-text .edit-title{
    margin: 10px;
  }
   .vi-modal-inner .vi-modal-content .added-tags{
    min-height: 40px;
    border-radius: 4px;
    border: 1px solid #D4D4D4;
    padding: 10px;
  }
  .added-tags span{
    position: relative;
    background-color: #3362CC;
    color: #fff;
    display: inline-block;
    padding: 9px 10px;
    font-size: 10px;
    border-radius: 2px;
  }
  .added-tags span a{
    color: #fff;
    font-size: 14px;
    margin: 0 0 0 10px;
  }

  .tag-gap{
    margin-top: 13px;
  }

  .copylink-row{
    border-radius: 4px;
    border: 1px solid #D4D4D4;
    color: #D4D4D4;
    display: flex;
    justify-content: space-between;
    padding: 9px 15px;
    background-color: #fff;
  }
   .vi-modal-inner .vi-modal-content .tag-wrap .tags span{
    color: #183B56;
    display: inline-block;
    padding: 9px 10px;
    background-color: rgba(229, 234, 244, 0.50);
    font-size: 10px;
  }

  .vi-modal-inner .vi-modal-content .tag-wrap .search-tags{
    position: relative;
  }

   .vi-modal-inner .vi-modal-content .tag-wrap .search-tags input[type="search"]{
    border-radius: 4px;
    border: 1px solid #8F93A3;
    width: 130px;
    height: 30px;
    padding: 0 12px;
    line-height: 110%;
    font-size: 14px;
    color: #8F93A3;
  }

  .vi-modal-inner .vi-modal-content .tag-wrap .search-tags .search-list{
    position: absolute;
    left: 0;
    bottom: 34px;
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    max-height: 100px;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    z-index: 1;
  }

  .vi-modal-inner .vi-modal-content .tag-wrap .search-tags .search-list p{
    cursor: pointer;
    margin-bottom: 5px;
  }

   .vi-modal-inner .vi-modal-content p {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    line-height: 19px;
    margin-top: 0;
    opacity: 0.5;
  }
   .vi-modal-inner .vi-modal-content .vi-tinymce-editor {
    margin-top: 10px;
  }
   .vi-modal-inner .vi-modal-content .vi-modal-action {
    margin-top: 10px;
    text-align: right;
  }
   .vi-modal-inner .vi-modal-content .vi-modal-action a {
    display: inline-block;
    width: auto;
  }
   .vi-modal-inner .vi-modal-content .vi-modal-action a.vi-secondary-button {
    margin-right: 12px;
  }
  .vi-modal-inner .vi-modal-content .vi-modal-action a.vi-secondary-button{
    padding: 7px 17px;
    background-color: transparent;
    font-size: 14px;
    color: #005FAF;
    font-weight: 600;
    border: 1px solid #005FAF;
    border-radius: 4px;
    width: 100%;
    transition: all 0.2s ease-in-out;
  }

   .vi-modal-inner .vi-modal-header {
    padding-bottom: 10px;
  }

  .vi-note {
    border: 1px solid #E9E9E9;
    position: relative;
    font-size: 14px;
    border-radius: 4px;
    background-color: #fff;
  }

  .vi-note .vi-note-title{
    padding: 10px;
    border-bottom: 1px solid #E9E9E9;
  }

  .vi-note .note-content{
    padding: 10px;
  }

  .vi-note .vi-note-action {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }

  .vi-note .vi-note-action a{
    margin-left: 10px;
  }
  .vi-note .vi-note-action .vi-icons:not(:last-child) {
    margin-right: 10px;
  }


  .vi-modal-inner .vi-modal-content .added-tags.list-tags{
    padding: 0;
    border: 0;
  }

  /* search eco system */

  .hybrid-text-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0 0;
  }
  .hybrid-text-wrapper .hybrid-left-panel .hybrid-text-row{
    margin-top: 40px;
  }
  .hybrid-text-wrapper .hybrid-left-panel .hybrid-text-row:nth-child(1){
    margin-top: 0px;
  }
  .hybrid-text-wrapper .hybrid-left-panel h3,
  .hybrid-img-wrapper .hybrid-img-row h3{
    color: #3362CC;
    font-size: 32px;
    font-weight: 500;
    margin: 0 0 20px;
  }
  .hybrid-text-wrapper .hybrid-left-panel .hybrid-text-row p{
    color: #3D3D3D;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 20px;
  }
  .hybrid-text-wrapper .hybrid-left-panel .hybrid-text-row span{
    color: #8F93A3;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .hybrid-text-wrapper .hybrid-right-panel{
    min-width: 351px;
    margin-left: 40px;
    padding: 25px 20px;
    box-sizing: border-box;
    border: 1px solid #E6F0FC;
    border-radius: 10px;
  }
  .hybrid-text-wrapper .hybrid-right-panel h4{
    font-size: 24px;
    color: #183B56;
    margin: 0 0 20px 0;
  }
  .hybrid-text-wrapper .hybrid-right-panel p{
    color: #3D3D3D;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
  }
  .hybrid-text-wrapper .hybrid-right-panel .hybrid-video{
    background: #1d1e1e;
    width: 100%;
    min-height: 185px;
    margin-top: 20px;
  }
  .hybrid-text-wrapper-btm{
    width: calc(100% - 351px);
  }
  .hybrid-img-wrapper .hybrid-img-row{
    margin-top: 40px;
  }
  .hybrid-img-wrapper .hybrid-img-row ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 0;
    padding: 0;
  }
  .hybrid-img-wrapper .hybrid-img-row ul li p{
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.28px;
  }

  /* ecosysten style header menu style */

  .vi-search-bar {
    width: 100%;
    padding: 8px 40px 8px;
    font-size: 16px;
    border: 1px solid #8F93A3;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
  }
  .vi-search-bar:hover {
    border-color: #434141;
  }
.ecosystem-wrap{
    display: inline-block;
    padding-top: 60px;
  }
  .ecosystem-wrap .search-bar-wrapper{
    position: relative;
  }
  .ecosystem-wrap .eco-menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 22px 0 0 0;
  }
  .ecosystem-wrap .eco-menu ul{
    margin: 0;
    padding: 0;
  }
  .ecosystem-wrap .eco-menu ul li{
    display: inline-block;
    margin-right: 15px;
  }
  .ecosystem-wrap .eco-menu ul li a{
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #969BA1;
    padding-bottom: 20px;
    border-bottom: 2px solid transparent;
    display: block;
  }
  .ecosystem-wrap .eco-menu ul li a:hover{
    border-color: #3362CC;
    color: #3362CC;
  }

  .ecosystem-wrap .hybrid-filter{
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #969BA1;
    border-left: 1px solid #969BA1;
    padding: 0 25px 0 10px;
    background: url(assets/images/filter.svg) right 2px no-repeat;
    margin-bottom: 20px;
  }
  .divider{
    background: #E9E9E9;
    height: 2px;
  }

/* filter drop down */

.filter-row{
    display: flex;
  }

  .filter-row .filter-select-wrap{
    position: relative;
  }

  .filter-row .filter-select-wrap button{
    color: #8F93A3;
    font-size: 14px;
    line-height: 20px;
    padding: 0 25px 5px 0;
    background: none;
    border: 0;
    position: relative;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .filter-row .filter-select-wrap button::after{
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background: url(assets/images/main-sprite.svg) no-repeat;
    background-position: -53px -89px;
  }

  .filter-row .filter-select-wrap ul{
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: none;
  }

  .filter-row .filter-select-wrap ul li{
    color: #8F93A3;
    line-height: 20px;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
  }

  .search-bar-wrapper .search {
    position: absolute;
    left: 9px;
    top: 6px;
  }

  .vi-icons::before {
    content: '';
    background-image: url(assets/images/main-sprite.svg);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    transition: all 0.2s ease-in-out;
  }
